body {
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.agv-car-list ul {
  list-style-type: none;
  padding: 0;
}

.agv-car-list li {
  margin: 5px 0;
}

.add-agv-car form div {
  margin-bottom: 10px;
}
